

# Assignment 1 - Python Basics

### Due Date: Wednesday, Sep 30th, 2020 @ 11pm

### A note for this assignment

Submit this notebook with your answers included below each question.


| Exercise | Point |
| --- | --- |
| 1 | 10 |
| 2 | 10 |
| 3 | 10 |
| 4 | 10 |
| 5 | 10 |
| 6 | 10 |
| 7 | 10 |
| 8 | 10 |
| 9 | 10 |
|10 | 10 |
| **Total** | **100** |

### Exercise 1

**Given this nested list, use indexing to grab the word "python".**

In [2]:
lst = [1,2,[3,4],[5,[100,200,['python']],23,11],1,7]

In [5]:
lst[3][1][2][0]

'python'

### Exercise 2

**Given this nested dictionary grab the word "python".**

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'python']}]}]}

In [7]:
d['k1'][3]['tricky'][3]['target'][3]

'python'

### Exercise 3

**Create a list L with odd length.  Complete the following tasks:**


 - Find the median element
 - Slice out all element indexed lower than the median element
 
```
An example of a list L:
L= [4,5,3,2,6,6,9]
```

In [9]:
L= [7,5,3,8,6,0,9,1,4,7,9]
L_sorted=sorted(L)
print("L_sorted=",L_sorted)

L_sorted= [0, 1, 3, 4, 5, 6, 7, 7, 8, 9, 9]

In [10]:
N=(len(L)-1)//2
Median=L_sorted[int(N)]
print("Median=",Median)

Median= 6

In [11]:
Slice=L_sorted[0:N]
print("Slice=",Slice)

Slice= [0, 1, 3, 4, 5]


**a) Swap the following two tuples using one line of python code:**

```
tuple1 = (10, 23)
tuple2 = (97, 33)
```

**Expected output:**
```
tuple1 = (97, 33)
tuple2 = (10, 23)
```

In [12]:
tuple1=(10,23)
tuple2=(97,33)
tuple1,tuple2=tuple2,tuple1
print("tuple1=",tuple1)
print("tuple2=",tuple2)

tuple1= (97, 33)
tuple2= (10, 23)

**b) Modify the first item (22) of a list inside a following tuple to 222**

```
tuple1 = (11, [22, 33], 45, 56)
```

**Expected output:**
```
tuple1 = (11, [222, 33], 45, 56)
```

In [13]:
tuple1 = (11, [22, 33], 45, 56)
tuple1[1][0]=222
print("tuple1=",tuple1)

tuple1= (11, [222, 33], 45, 56)

### Exercise 5

**Write a code that grabs the email website and prints out the domain:**

**Example**    
```
my_name@domain.com
```

**Expected output:**
```
domain.com
```

In [16]:
A='my_name@domain.com'
B=A.find('@')
domain=A[B+1:len(A)]
print(domain)

domain.com

### Exercise 6

Consider the following python data structures and write one use case for each of them.
- string
- list
- tuple
- dictionary
- set

In [120]:
# String is useful anywhere we need to write text, for example in output

In [121]:
# List should be used when we have some data and the order of them are important and we may want to change them or
# sort them, for example, we have the numerical grades of a class, we need to sort and find median or mean of them
# and change the grades to have a definite mean.

In [122]:
# Tuple should be used when we have some data and the order of them are important but we don't want to change them,
# for example, we just want to consider the salary of personnel for 5 years ago but clearly, we don't want to change 
# any previous data.

In [ ]:
# Dictionary is useful when we have some pairs of data which we want to refer them individually and don't need any order, 
# for example we define a dictionary for personnel of a company with their ID numbers and another dictionary for their
# salaries.When we need their ID numbers or salaries we can just write their names.Cleary, the key in dictionary can't 
# change, in this example means their names, but the value,ID number or salary, can change.

In [17]:
# Set is useful when there is no need to order data or know the quantity of each item. For example when we have a set of 
# data for mother tongue of personel and we just need to know which language they can spoken as their native language and 
# and the quantity of people is not important.

### Exercise 7

Given the list nums = [5, 6, 7, 8, 9, 10, 11, 12], write the code that would index into the list and return the sublist [9, 10, 11].

In [89]:
nums=[5,6,7,8,9,10,11,12]
nums[4:7]

[9, 10, 11]

### Exercise 8

Using python indexing, change the name **`Jason** to **Oliver** in the below data structure

In [19]:
customers = [{'id':'1234','full_name': {'first_name': 'Jason', 'last_name': 'Smith'}},
        {'id':'2345','full_name': {'first_name': 'Tom', 'last_name': 'Albert'}},
        {'id':'3456','full_name': {'first_name': 'Martin', 'last_name': 'Arts'}}]

In [20]:
customers[0]['full_name']['first_name']='Oliver'
customers

[{'id': '1234', 'full_name': {'first_name': 'Oliver', 'last_name': 'Smith'}},
 {'id': '2345', 'full_name': {'first_name': 'Tom', 'last_name': 'Albert'}},
 {'id': '3456', 'full_name': {'first_name': 'Martin', 'last_name': 'Arts'}}]

### Exercise 9

Given the below python list, display the list in the following order:

```
my_list = [100, 200, 300, 400, 500]
```

**Expected output:**
```
my_list = [500, 400, 300, 200, 100]
```

In [107]:
my_list = [100, 200, 300, 400, 500]
my_list.sort(reverse=True)
print('my_list=',my_list)

my_list= [500, 400, 300, 200, 100]

### Exercise 10

Create a string variable with your full name in it, with your first and last name (and any middle names) seperated by a space. Split the string into a list, and print out your surname.

In [108]:
My_name=('Morteza Taghipour')
L= My_name.split()
print('surname=',L[1])

surname= Taghipour